body {
  width: 100%;
  min-width: 1200px;
  box-sizing: border-box;
  font-family: "Microsoft ya hei";
}

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin:0;}

ol,ul {
  margin:0;
  padding:0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

i, em, strong {
  font-style: normal;
}

.clear::after {
  content: '';
  display: table;
  clear: both;
  font-size: 0;
}

.clear {
  zoom: 1;
}

.clear-both {
  clear: both;
}

.margin {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.fw-bold {
  font-weight: bold;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-normal {
  font-weight: normal;
}

.cursor-p {
  cursor: pointer;
}

.pos-rel {
  position: relative;
}

.over-hd {
  overflow: hidden;
}

.vtc-mid {
  vertical-align: middle;
}

.vtc-btm {
  vertical-align: bottom;
}

.vtc-sup {
  vertical-align: super;
}

.vtc-text-btm {
  vertical-align: text-bottom;
}

.text-ct {
  text-align: center;
}

.text-lt {
  text-align: left;
}

.text-rt {
  text-align: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[v-cloak] {
  display: none;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.bg-yellow {
  background: yellow;
}
